<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2221a85d-ba5b-45c2-a005-c65b4569208f/resourceGroups/Private/providers/Microsoft.ContainerRegistry/registries/plannerV2</ResourceId>
    <ResourceName>plannerV2</ResourceName>
    <ResourceGroup>Private</ResourceGroup>
    <Subscription>Private 1</Subscription>
    <RegistryUrl>https://plannerv2.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>Testing</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a7bcf8e6-52d7-4674-804a-26d540e52a61</ProjectGuid>
  </PropertyGroup>
</Project>