<div class="item-component-wrapper component-wrapper">
  <div class="component-list-details-wrapper" [class.component-list-details-loaded]="(areDetailsDisplayed$ | async)">
    <div class="component-list-wrapper">
      <div class="major-column-title"><b>On Guard</b></div>
      <div class="component-box">
        <div class="list-actions">
          <div class="left-side-actions">
            <button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i
                class="icofont-upload-alt"></i> <span>Import data</span></button>
            <button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i
                class="icofont-download"></i> <span>Export data</span></button>
          </div>
          <div class="right-side-actions">
            <button mat-flat-button type="button" class="button-with-icon secondary-button" (click)="createNew()"><i
                class="icofont-plus"></i> <span>Create new </span></button>
          </div>
        </div>
        <div class="component-box-filter-row">
          <form [formGroup]="filterForm">
            <div class="item-filter-row-grid">
              <div class="form-field-wrapper">
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input formControlName="keywords" matInput placeholder="Filter items...">
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom">
                  <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                  <mat-datepicker #dateFrom></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field appearance="outline" class="full-width">
                  <input matInput [matDatepicker]="dateTo" formControlName="dateTo">
                  <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                  <mat-datepicker #dateTo></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="component-list-row" *ngIf="(itemsList | async) as items">
          <div *ngIf="items.length === 0">
            <div class="empty-monthly-date-tasks">
              <div class="empty-alert">
                No items found for the filter...
              </div>
            </div>
          </div>
          <table class="list-view-table">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Status</th>
                <th>Description</th>
                <th>Created On</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-view-items-row" *ngFor="let item of items" (click)="selectItem(item)"
                [class.list-view-items-row-selected]="item.id === selectedItem.value?.id">
                <td class="name-cell">
                  <div class="cell-value">{{item.firstName}}</div>
                </td>
                <td class="name-cell">
                  <div class="cell-value">{{item.lastName}}</div>
                </td>
                <td class="name-cell">
                  <div class="cell-value">{{ statuses[item.status]}}</div>
                </td>
                <td class="name-cell">
                  <div class="cell-value">{{ item.description }}</div>
                </td>
                <td class="name-cell">
                  <div *ngIf="item.createdAt" class="cell-value">{{ item.createdAt | date }}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div class="tasks-list-totals-description">
              <span>Showing</span>
              <span>{{items.length}}</span>
              <span>items</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="component-details-wrapper">
      <div class="details-content-wrapper">
        <div class="item-settings-wrapper">
          <ng-container *ngIf="selectedItem | async ">
            <app-on-guard-edit [item]="selectedItem | async" (reloadList)="reloadList($event)"
              (cancelled)="onItemEditCancelled($event)"></app-on-guard-edit>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
