<div class="role-component-wrapper component-wrapper">
  <div class="component-list-details-wrapper" [class.component-list-details-loaded]="(areDetailsDisplayed$ | async)">
    <div class="component-list-wrapper">
      <div class="major-column-title"><b>User roles</b></div>
      <div class="component-box">

        <div class="list-actions">
          <div class="left-side-actions">
            <!--<button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i class="icofont-upload-alt"></i> <span>Import data</span></button>
            <button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i class="icofont-download"></i> <span>Export data</span></button>-->
          </div>
          <div class="right-side-actions">
            <button mat-flat-button type="button" class="button-with-icon secondary-button" (click)="createNew()"><i class="icofont-plus"></i> <span>Create a role</span></button>
          </div>
        </div>

        <div class="component-box-filter-row">
          <form [formGroup]="filterForm">
            <div class="role-filter-row-grid">
              <div class="form-field-wrapper">
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input formControlName="keywords" matInput placeholder="Filter roles...">
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>

        <div class="component-list-row" *ngIf="(rolesList | async) as roles">
          <div *ngIf="roles.length === 0">
            <div class="empty-monthly-date-tasks">
              <div class="empty-alert">
                No categories found for the filter...
              </div>
            </div>
          </div>
          <table class="list-view-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Defined by</th>
                <th>Hotel access</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-view-items-row" *ngFor="let role of roles" (click)="selectRole(role)" [class.list-view-items-row-selected]="role.id === selectedRole.value?.id">
                <td class="name-cell">
                  <div class="cell-value">{{role.name}}</div>
                </td>
                <td class="name-cell">
                  <div class="cell-value">
                    <span *ngIf="role.isSystemRole">System</span>
                    <span *ngIf="!role.isSystemRole">User</span>
                  </div>
                </td>
                <td class="name-cell">
                  <div class="cell-value">
                    <span>{{role.hotelAccessTypeKey}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div class="tasks-list-totals-description">
              <span>Showing</span>
              <span>{{roles.length}}</span>
              <span>roles</span>
            </div>
            <!--<div class="tasks-list-load-more-actions" *ngIf="showLoadMore$ | async">
              <button mat-flat-button type="button" (click)="loadMoreCategories()">Load 20 more</button>
            </div>-->
          </div>
        </div>

      </div>
    </div>
    <div class="component-details-wrapper">
      <div class="details-content-wrapper">
        <div class="role-settings-wrapper">
          <ng-container *ngIf="selectedRole | async ">
            <app-role-edit [role]="selectedRole | async" (reloadList)="reloadList($event)" (cancelled)="onRoleEditCancelled()" (inserted)="onRoleInserted($event)" (updated)="onRoleUpdated($event)" (deleted)="onRoleDeleted($event)"></app-role-edit>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="component-content-row">
    <div class="role-wrapper">
    </div>
  </div>
</div>
