<div class="categories-component-wrapper component-wrapper">
  <div class="component-list-details-wrapper" [class.component-list-details-loaded]="(areDetailsDisplayed$ | async)">
    <div class="component-list-wrapper">
      <div class="major-column-title"><b>Experience Compensation</b></div>
      <div class="component-box">
        <div class="list-actions">
          <div class="left-side-actions">
            <!--<button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i class="icofont-upload-alt"></i> <span>Import data</span></button>
            <button mat-flat-button class="button-with-icon" type="button" disabled="disabled"><i class="icofont-download"></i> <span>Export data</span></button>-->
          </div>
          <div class="right-side-actions">
            <button mat-flat-button type="button" class="button-with-icon secondary-button" (click)="newCategoryDetails()"><i class="icofont-plus"></i> <span>Create a experience compensation</span></button>
          </div>
        </div>
        <div class="component-box-filter-row">
          <form [formGroup]="filterForm">
            <div class="component-filter-row">
              <div class="categories-filter-row-grid">
                <div class="form-field-wrapper">
                  <label>Search experience compensation</label>
                  <mat-form-field appearance="outline" color="accent" class="full-width">
                    <input formControlName="keywords" matInput placeholder="By compensation">
                  </mat-form-field>
                </div>
                <div class="form-field-wrapper">
                  <label>Sort by</label>
                  <mat-form-field appearance="outline" color="accent" class="full-width">
                    <mat-select formControlName="sortKey" name="food">
                      <mat-option *ngFor="let sort of sorts" [value]="sort.key">
                        {{sort.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="component-list-row">
          <div *ngIf="(totalNumberOfCategories$ | async) === 0">
            <div class="empty-monthly-date-tasks">
              <div class="empty-alert">
                No experience compensation found for the filter...
              </div>
            </div>
          </div>
          <table class="list-view-table">
            <thead>
              <tr>
                <th>Compensation</th>
                <th class="text-center" style="max-width: 200px; width: 200px;">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-view-items-row" *ngFor="let category of Categories$ | async" (click)="selectCategory(category)" [class.list-view-items-row-selected]="category.id === (selectedCategoryId$ | async)">
                <td class="name-cell">
                  <div class="cell-value">{{category.name}}</div>
                </td>
                <td class="is-public-cell text-center">
                  <div class="cell-value">{{category.price}}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div class="tasks-list-totals-description">
              <span>Showing</span>
              <span>{{loadedNumberOfCategories$ | async}}</span>
              <span>/</span>
              <span>{{totalNumberOfCategories$ | async}}</span>
              <span>Experience compensation</span>
            </div>
            <div class="tasks-list-load-more-actions" *ngIf="showLoadMore$ | async">
              <button mat-flat-button type="button" (click)="loadMoreCategories()">Load 20 more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="component-details-wrapper">
        <div class="details-content-wrapper">
          <ng-container *ngIf="(this.isLoadingCategoryDetails$ | async)">
            <div class="component-box-title">Loading experience compensation...</div>
          </ng-container>
          <ng-container *ngIf="!(this.isLoadingCategoryDetails$ | async)">
            <app-experience-compensation-edit [category]="selectedCategoryDetails$ | async" (inserted)="onCategoryInserted($event)" (updated)="onCategoryUpdated($event)" (cancelled)="onCategoryCancel()"></app-experience-compensation-edit>
          </ng-container>
        </div>
    </div>
  </div>
</div>
