<div class="component-wrapper">
    <app-market-place-header></app-market-place-header>
    <div class="component-box full-size">
        <button mat-button (click)= backPage()><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
        <div class="two-column-grid">
            <div>
                <h1>Duve</h1>
                <b>Duve allows to send guest their lost items</b>
            </div>
            <div>
                <img src="../../../assets/images/Duve.png" alt="" style = "width: 300px">
            </div>
        </div>
        <div class="four-column-grid">
            <div>
                <b>Web Site</b><br>
                <a href="#">https://www.Duve.com</a>
            </div>
            <div>
                <b>Contact</b><br>
                <a href="#">xxx@Duve.com</a>
            </div>
        </div>
        <div class="two-column-grid-21">
            <div>
                <b>Interface Description</b><br><br>
                <p>
                    Lorem Ipeum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                    industry`s standard dummy text ever since the 1500S, when an unknown printer took a gallery of type and scrambled it to make a 
                    type speciman book
                </p>
            </div>
        </div>
        <div class="two-column-grid-21">
            <div>
                <b>What do we communicate?</b><br><br>
                <p>
                    Lorem Ipeum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                    industry`s standard dummy text ever since the 1500S, when an unknown printer took a gallery of type and scrambled it to make a 
                    type speciman book
                </p>
            </div>
        </div>
        <div>
            <p>I`auttorise Roomchecking a transmettre les donnees client a la societe Duve</p>
        </div>
        <div class="three-column-grid">
            <div *ngIf="this.statusValue">
                <button mat-raised-button color="warn">Activate Duve</button>
            </div>
            <div *ngIf="!this.statusValue">
                <button mat-stroked-button color="primary">Deactibate Duve</button>
            </div>
        </div>
        <div>
            <p>Activated on 23/02/2022</p>
        </div>

    </div>
</div>