<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>

<div class="importPreviewUsers-component-wrapper component-wrapper">
  <div class="list-actions">
    <div class="major-column-title"><b>Import users</b></div>
    <div class="major-column-buttons">
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    </div>
  </div>
  <div class="component-user-wrapper">
    <div class="component-box">

      <div *ngIf="!(isDataPreviewGenerated$ | async)" class="centered-import-actions-wrapper">
        <button mat-flat-button class="button-with-icon" type="button" (click)="cancelImport()" [disabled]="(isLoading$| async)"><i class="icofont-undo"></i> <span>Cancel import</span></button>
        <button mat-flat-button class="button-with-icon secondary-button" type="button" (click)="fileUpload.click()" [disabled]="(isLoading$| async)"><i class="icofont-save"></i> <span>Select CSV file to import</span></button>
      </div>

      <ng-container *ngIf="(isDataPreviewGenerated$ | async)">
        <div class="component-list-row" *ngIf="(userImportPreview$ | async) as userImportPreview">
          <div class="import-errors-warning warning-with-button-grid" *ngIf="!(isDataPreviewErrorFree$ | async)">
            <div>
              <button mat-flat-button class="button-with-icon secondary-button" type="button" (click)="fileUpload.click()" [disabled]="(isLoading$| async)"><i class="icofont-refresh"></i> <span>Re-import</span></button>
            </div>
            <div>
              Users extracted from the CSV file have some issues with the data. Please fix data issues and re-import the file.
            </div>
          </div>
          <table class="list-view-table" *ngIf="userImportPreview.users.length > 0">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>User name</th>
                <th>Password</th>
                <th>Role name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User group</th>
                <th>User group leader</th>
                <th>User sub group</th>
                <th>User sub group leader</th>
                <th>Accessible hotels</th>
              </tr>
            </thead>
            <tbody>
              <tr class="list-view-items-row" *ngFor="let user of userImportPreview.users">
                <td>
                  <div class="cell-value">{{user.firstName}}</div>
                  <div *ngIf="user.hasError" class="cell-error">{{user.message}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.lastName}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.userName}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.password}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.roleName}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.email}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.phone}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.userGroup}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.isUserGroupLeader}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.userSubGroup}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.isUserSubGroupLeader}}</div>
                </td>
                <td>
                  <div class="cell-value">{{user.accessibleHotels}}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="no-data" *ngIf="userImportPreview.users.length === 0">No data in the uploaded file.</div>
        </div>


        <div class="import-footer-actions">
          <div>
            <button mat-flat-button class="button-with-icon" type="button" (click)="cancelImport()"><i class="icofont-undo"></i> <span>Cancel import</span></button>
          </div>
          <div>
            <button mat-flat-button class="button-with-icon" type="button" (click)="fileUpload.click()" [disabled]="(isLoading$| async)"><i class="icofont-refresh"></i> <span>Select another CSV file</span></button>

            <ng-container *ngIf="(isDataPreviewErrorFree$ | async)">
              <button mat-flat-button class="button-with-icon secondary-button" type="button" (click)="saveUsers()" [disabled]="(isLoading$| async)"><i class="icofont-save"></i> <span>Confirm import</span></button>
            </ng-container>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>
