.hotels-component-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 3fr;
}

.hotel-settings-wrapper {
  padding: 11px 15px 15px 15px;
}

.hotel-plugins-wrapper {
  padding: 11px 15px 15px 15px;
}

