<mat-progress-bar mode="indeterminate" *ngIf="loading.isLoading$ | async"></mat-progress-bar>

<div class="filter-row asset-group-availability-filter-row">
  <div>
    <form [formGroup]="filterForm" *ngIf="isFilterShown$ | async">
      <div class="asset-group-availability-filter-row-grid">
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <input formControlName="keywords" matInput placeholder="Find by keywords...">
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <mat-select formControlName="sortKey" name="sorts">
              <mat-option *ngFor="let sort of sorts" [value]="sort.key">
                {{sort.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div></div>
  <div>
    <button mat-flat-button type="button" class="button-with-icon" (click)="showReceiveAnyAssetToWarehousePopup()" *ngIf="isReceiveButtonShown$ | async"><i class="icofont-plus"></i> Receive an asset</button>
  </div>
  <div>
    <!--<button mat-flat-button type="button" class="button-with-icon" (click)="assignToRooms()"><i class="icofont-plus"></i> Assign asset to rooms</button>-->
  </div>
</div>


<ng-container *ngIf="areAssetGroupsLoaded$ | async">
  <ng-container *ngIf="assetGroups$ | async as assetGroups">
    <ng-container *ngIf="assetGroups.length === 0">
      <div class="component-box-section">
        <div class="info-box">
          <div class="info-box-content">No data.</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="assetGroups.length > 0">
      <div class="asset-group-availability-grid header-asset-group-grid">
        <div class="asset-group-availability-asset">
          Asset
        </div>
        <div class="asset-group-availability-asset-data">
          <div class="asset-group-availability-asset-grid">
            <div class="right-aligned-col">Avail.</div>
            <div class="right-aligned-col">Reserv.</div>
            <div class="right-aligned-col">Total</div>
            <div class="">Asset group</div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="component-box-section" *ngFor="let assetGroup of assetGroups$ | async">
        <!--<div *ngIf="!assetGroup.isSimple" class="asset-group-availability-table major-column-title list-view-table-title">{{assetGroup.name}}</div>-->

        <div class="asset-group-availability-grid" *ngFor="let asset of assetGroup.assets; index as assetIndex;">
          <div class="asset-group-availability-asset">
            <div class="asset-group-availability-asset-image">
              <div class="single-file-upload-photo-item">
                <div class="single-file-upload-photo" [class.no-photo]="!asset.imageUrl" [ngStyle]="{'background-image': 'url(' + (asset.imageUrl ? asset.imageUrl : noImageBackgroundUrl) + ')'}"></div>
              </div>
            </div>
            <div class="asset-group-availability-asset-name">
              <span>{{asset.name}}</span>
              <i *ngIf="asset.isBulk" class="icofont icofont-cubes"></i>
              <i *ngIf="!asset.isBulk" class="icofont icofont-cube"></i>
            </div>
          </div>
          <div class="availability-data-column">
            <div class="asset-group-availability-asset-data">
              <div class="asset-group-availability-asset-grid">
                <div class="right-aligned-col available-quantity">{{asset.availableQuantity}}</div>
                <div class="right-aligned-col reserved-quantity">{{asset.reservedQuantity}}</div>
                <div class="right-aligned-col total-quantity">{{asset.totalQuantity}}</div>
                <div class="asset-group-name"><span *ngIf="!assetGroup.isSimple">{{assetGroup.name}}</span></div>
                <div>
                  <button mat-flat-button type="button" class="mini-button" (click)="showMoveAssetToAnotherWarehousePopup(asset, null)"><i class="icofont-exchange"></i></button>
                  <button mat-flat-button type="button" class="mini-button" (click)="showDispatchAssetFromWarehousePopup(asset, null)"><i class="icofont-upload-alt"></i></button>
                  <button mat-flat-button type="button" class="mini-button" (click)="showReceiveAssetToWarehousePopup(asset, null)"><i class="icofont-download"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="!(areAssetGroupsLoaded$ | async)">
  <div class="component-box-section">
    <div class="info-box">
      <div class="info-box-content">Loading assets, please wait.</div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="isReceiveAssetPopupShown$ | async">
  <app-popup [isOpen]="true" (closed)="hideReceiveAssetPopup()" class="receive-asset-to-warehouse-popup" [isNonButtonCloseEnabled]="false">
    <div class="popup-header">
      <div class="major-column-title">
        <i class="icofont-download"></i> <b> Receive</b> an asset
      </div>
    </div>
    <div>
      <div class="popup-content">
        <form [formGroup]="receiveAssetForm">
          <div class="form-field-wrapper">
            <label>Asset</label>
            <mat-form-field appearance="outline" color="accent" class="full-width">
              <mat-select formControlName="assetId">
                <mat-option *ngFor="let asset of assetList$ | async" [value]="asset.id">
                  {{asset.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="warehouse-quantity-form-row">
            <div class="form-field-wrapper">
              <label>Quantity received</label>
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <input matInput formControlName="quantity" type="number" min="0">
              </mat-form-field>
            </div>
            <div class="form-field-wrapper">
              <label>Receive to warehouse</label>
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-select formControlName="warehouseId">
                  <mat-option *ngFor="let warehouse of warehouseList$ | async" [value]="warehouse.id">
                    {{warehouse.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-field-wrapper">
            <label>Note</label>
            <mat-form-field appearance="outline" color="accent" class="full-width">
              <textarea matInput formControlName="note" type="number" rows="3"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="popup-actions">
        <div class="popup-actions-buttons">
          <div class="popup-confirm-actions">
            <button mat-flat-button type="button" class="button-with-icon secondary-button" (click)="confirmReceiveAssetToWarehouse()"><i class="icofont-check-alt"></i> Confirm receipt</button>
          </div>
          <div class="popup-cancel-actions">
            <button mat-flat-button type="button" class="button-with-icon" (click)="hideReceiveAssetPopup()"><i class="icofont-undo"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </app-popup>
</ng-container>



<ng-container *ngIf="isDispatchAssetPopupShown$ | async">
  <app-popup [isOpen]="true" (closed)="hideDispatchAssetPopup()" class="receive-asset-to-warehouse-popup" [isNonButtonCloseEnabled]="false">
    <div class="popup-header">
      <div class="major-column-title">
        <i class="icofont-upload-alt"></i> <b> Dispatch</b> an asset
      </div>
    </div>
    <div>
      <div class="popup-content">
        <form [formGroup]="dispatchAssetForm">
          <div class="form-field-wrapper">
            <label>Asset</label>
            <mat-form-field appearance="outline" color="accent" class="full-width">
              <mat-select formControlName="assetId">
                <mat-option *ngFor="let asset of assetList$ | async" [value]="asset.id">
                  {{asset.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="warehouse-quantity-form-row">
            <div class="form-field-wrapper">
              <label>Quantity dispatched</label>
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <input matInput formControlName="quantity" type="number" min="0">
              </mat-form-field>
            </div>
            <div class="form-field-wrapper">
              <label>Dispatch from warehouse</label>
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-select formControlName="warehouseId">
                  <mat-option *ngFor="let warehouse of warehouseList$ | async" [value]="warehouse.id">
                    {{warehouse.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-field-wrapper">
            <label>Note</label>
            <mat-form-field appearance="outline" color="accent" class="full-width">
              <textarea matInput formControlName="note" type="number" rows="3"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="popup-actions">
        <div class="popup-actions-buttons">
          <div class="popup-confirm-actions">
            <button mat-flat-button type="button" class="button-with-icon secondary-button" (click)="confirmDispatchAssetFromWarehouse()"><i class="icofont-check-alt"></i> Confirm dispatch</button>
          </div>
          <div class="popup-cancel-actions">
            <button mat-flat-button type="button" class="button-with-icon" (click)="hideDispatchAssetPopup()"><i class="icofont-undo"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </app-popup>
</ng-container>
