<div class="component-wrapper">
  <app-market-place-header></app-market-place-header>
  <div>
    <div class="market-list-container">
      <div class="market-list-title"><b>Active</b></div>
      <div class = "market-list-content">
        <div *ngFor="let marketPlace of marketPlaces">
          <div *ngIf = "marketPlace.isChecked" class = "market-list-details">
            <app-market-place-services [image] = "marketPlace.url" [id]="marketPlace.id" (changeEvent)="changeEvent($event)" [isChecked]="marketPlace.isChecked" (clickEvent)="showMarketPlaceDetails($event, marketPlace)"></app-market-place-services>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="market-list-container">
      <div class="market-list-title"><b>Available Connectivities</b></div>
      <div class = "market-list-content">
        <div *ngFor="let marketPlace of marketPlaces">
          <div *ngIf = "!marketPlace.isChecked" class = "market-list-details">
            <app-market-place-services [image] = "marketPlace.url" [id]="marketPlace.id" (changeEvent)="changeEvent($event)" [isChecked]="marketPlace.isChecked" (clickEvent)="showMarketPlaceDetails($event, marketPlace)"></app-market-place-services>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
