.market-list-container {
    padding-left: 20px;
    padding-top: 15px;
    .market-list-title {
        margin-left: 15px;
        color: #29437F;
    }
}

.market-list-content {
    display: flex; 
    flex-flow: row wrap;
}

.market-list-details {
    display: grid; 
    align-items: end; 
    margin: 10px;
}