<div class="component-wrapper">
  <app-market-place-header></app-market-place-header>
  <div>
    <div class="market-list-container">
      <div class="market-list-title"><b>Active</b></div>
      <div style = "display: flex; flex-flow: row wrap;">
        <div *ngFor="let marketPlace of marketPlaces">
          <div *ngIf = "marketPlace.isChecked" style = "display: grid; align-items: end; margin: 10px;">
            <app-market-place-services [image] = "marketPlace.url" [id]="marketPlace.id" (changeEvent)="changeEvent($event)" [isChecked]="marketPlace.isChecked" (clickEvent)="showMarketPlaceDetails($event)"></app-market-place-services>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="market-list-container">
      <div class="market-list-title"><b>Available Connectivities</b></div>
      <div style = "display: flex; flex-flow: row wrap;">
        <div *ngFor="let marketPlace of marketPlaces">
          <div *ngIf = "!marketPlace.isChecked" style = "display: grid; align-items: end; margin: 10px;">
            <app-market-place-services [image] = "marketPlace.url" [id]="marketPlace.id" (changeEvent)="changeEvent($event)" [isChecked]="marketPlace.isChecked" (clickEvent)="showMarketPlaceDetails($event)"></app-market-place-services>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
