<ng-container *ngIf="item">
  <div class="major-column-title">
    <ng-container *ngIf="isCreateNew">Create a <b>new experience</b></ng-container>
    <ng-container *ngIf="!isCreateNew">Edit Experience <b>{{ item.guestName }}</b></ng-container>
  </div>
  <div class="item-component-wrapper component-wrapper component-box">
    <div class="item-edit-wrapper">
      <form [formGroup]="experienceForm" (ngSubmit)="save()">
        <div class="item-edit">

          <input matInput formControlName="hotelId" type="text" hidden/>

          <div class="form-section">
            <div class="two-column-grid">
              <div class="experience-details-statuses">
                <div [ngClass]="{'experience-details-status-item-change': isexperienceTicketStatus, 'experience-details-status-item': !isexperienceTicketStatus }">
                  <mat-select formControlName="experienceTicketStatus" (selectionChange)="experienceTicketStatusSelectChanged()">
                    <mat-option *ngFor="let experienceTicketStatus of experienceTicketStatuses" [value]="experienceTicketStatus.key">{{ experienceTicketStatus.value }}</mat-option>
                  </mat-select>
                </div>
                <div [ngClass]="{'experience-details-status-item-change': isexperienceClientRelationStatus, 'experience-details-status-item': !isexperienceClientRelationStatus }">
                  <mat-select formControlName="experienceClientRelationStatus" (selectionChange)="experienceClientRelationStatusSelectChanged()">
                    <mat-option *ngFor="let experienceClientRelationStatus of experienceClientRelationStatuses" [value]="experienceClientRelationStatus.key">{{ experienceClientRelationStatus.value }}</mat-option>
                  </mat-select>
                </div>
                <div [ngClass]="{'experience-details-status-item-change': isexperienceResolutionStatus, 'experience-details-status-item': !isexperienceResolutionStatus }">
                  <mat-select formControlName="experienceResolutionStatus" (valueChange)="experienceResolutionStatusSelectChanged($event)">
                    <mat-option *ngFor="let experienceResolutionStatus of experienceResolutionStatuses" [value]="experienceResolutionStatus.key">{{ experienceResolutionStatus.value }}</mat-option>
                  </mat-select>
                </div>
              </div>

            </div>
          </div>
          <div class="form-section">
            <div class="major-column-title"><b>Contact Information</b></div>

            <div class="found-description-grid">
              <div class="form-field-wrapper">
                <label>Name</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input type="text"
                         placeholder="Select Name..."
                         aria-label="Number"
                         matInput
                         formControlName="guestName"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='setReservationValue($event.option.value)'>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.guestName">
                      {{option.guestName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="three-column-grid-211">
              <div class="form-field-wrapper">
                <label>Room</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="roomName" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>CI</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput [matDatepicker]="datePickerCheckIn" formControlName="checkIn">
                  <mat-datepicker-toggle matSuffix [for]="datePickerCheckIn" [disableRipple]="true"><i class="icofont-calendar" matDatepickerToggleIcon></i></mat-datepicker-toggle>
                  <mat-datepicker #datePickerCheckIn></mat-datepicker>
                  <mat-error class="error" *ngIf="canShowErrorMessage('checkIn')">
                    <span *ngIf="f.checkIn.errors.required">Required</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>CO</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput [matDatepicker]="datePickerCheckOut" formControlName="checkOut">
                  <mat-datepicker-toggle matSuffix [for]="datePickerCheckOut" [disableRipple]="true"><i class="icofont-calendar" matDatepickerToggleIcon></i></mat-datepicker-toggle>
                  <mat-datepicker #datePickerCheckOut></mat-datepicker>
                  <mat-error class="error" *ngIf="canShowErrorMessage('checkOut')">
                    <span *ngIf="f.checkOut.errors.required">Required</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Reservation</label>                  
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="reservationId" type="text" />
                </mat-form-field>            
              </div>              
              <div class="form-field-wrapper">                
                <label>VIP</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="vip" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">                
                <label>Group Name</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="group" type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Email Address</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="experienceEmail" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>Phone Number</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="experiencePhoneNumber" type="text" />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-section">
            <div class="major-column-title"><b>Experience Information</b></div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Experience Type&nbsp;&nbsp;</label>
                <mat-button-toggle-group formControlName="experienceType" name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle value="1"><img src="../../../assets/images/3.png" alt="angry" style="width: 30px; height: 30px;"></mat-button-toggle>
                  <mat-button-toggle value="2"><img src="../../../assets/images/2.png" alt="normal" style="width: 30px; height: 30px;"></mat-button-toggle>
                  <mat-button-toggle value="3"><img src="../../../assets/images/1.png" alt="good" style="width: 30px; height: 30px;"></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Experience Category</label>
                <ng-select2
                  formControlName="experienceCategory"
                  [data]="categoriesList | async"
                  [placeholder]="placeholder"
                  [width]="370"
                  [options]="options"
                ></ng-select2>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Description</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="description" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Actions</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="actions" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Internal Follow up</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="internalFollowUp" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Compensation</label>
                <ng-select2 
                  formControlName="compensationName"
                  [data]="compensationList | async"
                  [width]="370">
                </ng-select2>
              </div>
            </div>
          </div>
        </div>
        <div class="item-configuration-edit-actions">
          <div class="edit-confirm-actions">
            <button mat-flat-button type="submit" class="button-with-icon secondary-button">
              <i class="icofont-check-alt"></i>
              <ng-container *ngIf="isCreateNew">Save</ng-container>
              <ng-container *ngIf="!isCreateNew">Update</ng-container>
            </button>
          </div>
          <div class="edit-cancel-actions">
            <button mat-flat-button type="button" class="button-with-icon" (click)="cancel()">
              <i class="icofont-undo"></i> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
