<ng-container *ngIf="item">
  <div class="major-column-title">
    <ng-container *ngIf="isCreateNew">Create a <b>new experience</b></ng-container>
    <ng-container *ngIf="!isCreateNew">Edit Experience <b>{{ item.referenceNumber }}</b></ng-container>
  </div>
  <div class="item-component-wrapper component-wrapper component-box">
    <div class="item-edit-wrapper">
      <form [formGroup]="foundForm" (ngSubmit)="save()">
        <div class="item-edit">

          <input matInput formControlName="hotelId" type="text" hidden/>
          <input [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" hidden/>

          <div class="form-section">
            <div class="two-column-grid">
              <div class="found-details-statuses">
                <div [ngClass]="{'experience-details-status-item-change': isFoundStatus, 'experience-details-status-item': !isFoundStatus }">
                  <mat-select formControlName="foundStatus" (selectionChange)="foundStatusSelectChanged()">
                    <mat-option value="pending">Pending</mat-option>
                  </mat-select>
                </div>
                <div [ngClass]="{'experience-details-status-item-change': isGuestStatus, 'experience-details-status-item': !isGuestStatus }">
                  <mat-select [formControl]="ExperienceStatus2" (selectionChange)="guestStatusSelectChanged()">
                    <mat-option value="action">No client action</mat-option>
                    <mat-option value="client">Meet with client</mat-option>
                    <mat-option value="Meet">Meet with Client at C/O(avecArchiveuto peut-etre?)</mat-option>
                  </mat-select>
                </div>
                <div [ngClass]="{'experience-details-status-item-change': isDeliveryStatus, 'experience-details-status-item': !isDeliveryStatus }">
                  <mat-select [formControl]="ExperienceStatus3" (valueChange)="deliveryStatusSelectChanged($event)">
                    <mat-option value="resolved">Resolved</mat-option>
                    <mat-option value="closed">Closed</mat-option>
                  </mat-select>
                </div>
              </div>

            </div>
          </div>
          <div class="form-section">
            <div class="major-column-title"><b>Contact Information</b></div>

            <div class="found-description-grid">
              <div class="form-field-wrapper">
                <label>Name</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input type="text"
                         placeholder="Select Name..."
                         aria-label="Number"
                         matInput
                         formControlName="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Reservation</label>                  
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="reservation" type="text" />
                </mat-form-field>            
              </div>              
              <div class="form-field-wrapper">                
              <label>VIP</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="vip" type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="three-column-grid-211">
              <div class="form-field-wrapper">
                <label>Room</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="room" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>CI</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="ci" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>CO</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="co" type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Email Address</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="email" type="text" />
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <label>Phone Number</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <input matInput formControlName="phone" type="text" />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="form-section">
            <div class="major-column-title"><b>Experience Information</b></div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Experience Type&nbsp;&nbsp;</label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle value="bold"><img src="../../../assets/images/3.png" alt="angry" style="width: 30px; height: 30px;"></mat-button-toggle>
                  <mat-button-toggle value="italic"><img src="../../../assets/images/2.png" alt="normal" style="width: 30px; height: 30px;"></mat-button-toggle>
                  <mat-button-toggle value="underline"><img src="../../../assets/images/1.png" alt="good" style="width: 30px; height: 30px;"></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Experience Category</label>
                <ng-select2
                  [data]="exampleData1"
                  [placeholder]="placeholder"
                  [width]="370"
                  [options]="options"
                  [(ngModel)]="value"
                ></ng-select2>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Description</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="description" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Actions</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="action" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Internal Follow up</label>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                  <textarea matInput formControlName="follow_up" type="text" multiple></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="two-column-grid-21">
              <div class="form-field-wrapper">
                <label>Compensation</label>
                <ng-select2 [data]="exampleData"
                            [width]="370">
                </ng-select2>
              </div>
            </div>
          </div>
        </div>
        <div class="item-configuration-edit-actions">
          <div class="edit-confirm-actions">
            <button mat-flat-button type="submit" class="button-with-icon secondary-button">
              <i class="icofont-check-alt"></i>
              <ng-container *ngIf="isCreateNew">Save</ng-container>
              <ng-container *ngIf="!isCreateNew">Update</ng-container>
            </button>
          </div>
          <div class="edit-cancel-actions">
            <button mat-flat-button type="button" class="button-with-icon" (click)="cancel()">
              <i class="icofont-undo"></i> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
