.full-size {
    margin: 0px 20px 20px 20px;
    padding: 50px 20px 50px 30px;
}

.two-column-grid {
    margin-bottom: 25px;
}

h1 {
    color: #29437F;
}

.four-column-grid {
    margin-bottom: 20px;
}

.two-column-grid-21 {
    margin-bottom: 15px;
}

.three-column-grid {
    margin-bottom: 30px;
}

.mat-raised-button {
    margin-right: 10px;
}

.two-column-grid-22 {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 15px;
}

.two-column-grid-22 input {
    width: 100%
}

.two-column-grid-22 button {
    width: 150px;
    float: right;
}

.two-column-grid-23 {
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    grid-column-gap: 15px;
}