<form [formGroup]="taskBalancedForm">
  <div class="task-balanced-component">
    <div class="form-groups">

      <div class="from-to-grid">
        <div class="inline-form-row">
          <label>Start of the balancing interval</label>
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput [matDatepicker]="fromPicker" formControlName="startsAtDate" (click)="fromPicker.open()" (focus)="fromPicker.open()">
              <mat-datepicker-toggle matSuffix [for]="fromPicker" [disableRipple]="true">
                <i class="icofont-calendar" matDatepickerToggleIcon></i>
              </mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
            <!--<app-date-time [dateControl]="taskBalancedForm.controls.startsAtDate" [timeControl]="taskBalancedForm.controls.startsAtTime"></app-date-time>-->
          </div>
        </div>

        <!--<div class="form-field-wrapper">-->
          <!--<label>From</label>-->
          <!--<mat-form-field appearance="outline" class="full-width">
            <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" (click)="fromPicker.open()" (focus)="fromPicker.open()">
            <mat-datepicker-toggle matSuffix [for]="fromPicker" [disableRipple]="true">
              <i class="icofont-calendar" matDatepickerToggleIcon></i>
            </mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>
        </div>-->

        <div class="inline-form-row">
          <label>End of the balancing interval</label>
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput [matDatepicker]="toPicker" formControlName="endsAtDate" (click)="toPicker.open()" (focus)="toPicker.open()">
              <mat-datepicker-toggle matSuffix [for]="toPicker" [disableRipple]="true">
                <i class="icofont-calendar" matDatepickerToggleIcon></i>
              </mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
            <!--<app-date-time [dateControl]="taskBalancedForm.controls.endsAtDate" [timeControl]="taskBalancedForm.controls.endsAtTime"></app-date-time>-->
          </div>
        </div>
      </div>
      <div class="inline-form-row vertical-check-boxes">
        <mat-checkbox formControlName="excludeWeekends">Exclude weekends</mat-checkbox>
        <mat-checkbox formControlName="excludeHolidays">Exclude holidays</mat-checkbox>
        <mat-checkbox formControlName="postponeWhenRoomIsOccupied">Postpone when the room is occupied</mat-checkbox>
      </div>
      <!--<div class="inline-form-row task-event-choice-wrapper">
    <div class="task-event-choice">
      <mat-form-field appearance="outline" color="accent" class="full-width">
        <mat-select formControlName="modifierTypeKey" name="modifierTypeKey">
          <mat-option *ngFor="let modifierType of allEventTaskModifierTypes" [value]="modifierType.key">
            {{modifierType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="full-width">
        <mat-select formControlName="typeKey" name="typeKey">
          <mat-option *ngFor="let taskType of allEventTaskTypes" [value]="taskType.key">
            {{taskType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="inline-form-row vertical-radio-group-wrapper">
    <div class="">
      <mat-radio-group aria-labelledby=""
                       class="task-recurrence-radio-group"
                       formControlName="whenKey">

        <mat-radio-button class="" value="ON_NEXT">
          <div>
            <div class="radio-inline-label">
              <b>On next</b> {{modifierTypeName$ | async}} {{typeName$ | async}}
            </div>
            <div>
            </div>
          </div>
        </mat-radio-button>
        <mat-radio-button class="" value="ON_DATE">
          <div>
            <div class="radio-inline-label">
              <b>On</b> {{modifierTypeName$ | async}} {{typeName$ | async}} <b>at</b>:
            </div>
            <div>
              <app-date-time [dateControl]="taskEventForm.controls.onEventAtDate" [timeControl]="taskEventForm.controls.onEventAtTime"></app-date-time>
            </div>
          </div>
        </mat-radio-button>
        <mat-radio-button class="" value="EVERY_TIME">
          <div>
            <div class="radio-inline-label">
              <b>Every</b> {{modifierTypeName$ | async}} {{typeName$ | async}} <b>after</b>:
            </div>
            <div>
              <app-date-time [dateControl]="taskEventForm.controls.onEventAtDate" [timeControl]="taskEventForm.controls.onEventAtTime"></app-date-time>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>


  <div class="form-groups task-event-repeats-form-group" *ngIf="taskEventForm.controls.whenKey.value === 'EVERY_TIME'">
    <div class="">
      <div class="inline-form-row">
        <label>Repeats for</label>
        <div>
          <mat-radio-group aria-labelledby=""
                           class="task-recurrence-radio-group"
                           formControlName="repeatsForKey">
            <div class="radio-button-list-item">
              <mat-radio-button class="" value="NUMBER_OF_DAYS">
                Number of days
              </mat-radio-button>
              <mat-form-field appearance="outline" class="short-number-input text-right" *ngIf="taskEventForm.controls.repeatsForKey.value === 'NUMBER_OF_DAYS'">
                <input type="text" matInput placeholder="X" formControlName="repeatsForNrDays" />
                <span matSuffix>days</span>
              </mat-form-field>
            </div>
            <div class="radio-button-list-item">
              <mat-radio-button class="" value="NUMBER_OF_OCCURENCES">
                Number of occurences
              </mat-radio-button>
              <mat-form-field appearance="outline" class="short-number-input text-right" *ngIf="taskEventForm.controls.repeatsForKey.value === 'NUMBER_OF_OCCURENCES'">
                <input type="text" matInput placeholder="X" formControlName="repeatsForNrOccurences" />
                <span matSuffix>times</span>
              </mat-form-field>
            </div>
            <div class="radio-button-list-item">
              <mat-radio-button class="" value="SPECIFIC_DATE">
                Until date
              </mat-radio-button>
              <div *ngIf="taskEventForm.controls.repeatsForKey.value === 'SPECIFIC_DATE'">
                <app-date-time [dateControl]="taskEventForm.controls.repeatsUntilDate" [timeControl]="taskEventForm.controls.repeatsUntilTime"></app-date-time>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>-->
    </div>
  </div>
</form>
