<div class="list-actions market-place-backColor margin-bottom">
    <div class="major-column-title"><b>Market Place</b></div>
    <div class="major-column-buttons">
        <div class="two-column-grid-24">
            <div>
                <mat-form-field appearance="outline" color="accent" class="full-width">
                    <input matInput placeholder="Search..." style = "margin-right: 10px;">
                </mat-form-field>
            </div>
            <div>
                <i class="svg-icon icon-bell"></i>
            </div>
        </div>
    </div>
</div>